@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* Default styling rules */
* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

body {
    font-family: Arimo,sans-serif;
    font: weight 300px;
    color: #202020;
}

/* Heading Styling */

h1,h2 {
    font-family: arimo, helvetica;
    text-transform: uppercase;
    font-size: 150%;  
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em 0 0.75em;
}

/* Positioning of Logo and tekst */

#logo img {
    float:left;
    height: 60px;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

#logo h1 {
    float:left;
    font-size:150%;
    padding: 0.5em;
    line-height: 40px;
}

/* Navigation Menu */

nav {
    float: right;
    line-height: 40px;
    font-size: 120%;
}

nav li {
    float:left;
    list-style-type: none;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color:#115500;
}

/* Hero Image */

#Homepage-Hero-Image {
    height:50%;
    width:100%;
    object-fit: contain;
}

/* Welcome Section */

#welcome-container {

        margin: auto;
        width: 75%;
        padding: 10px;
        font-size: 150%;
}


