@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* Default styling rules */
* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

body {
    font-family: Arimo,sans-serif;
    font: weight 300px;
    color: #202020;
    background-image: linear-gradient(to bottom right,green, yellow);
}

/* Heading Styling */

h1,h2 {
    font-family: arimo, helvetica;
    text-transform: uppercase;
    font-size: 150%;  
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em 0 0.75em;
}

/* Header */

header {
    padding: 1em;
    overflow: hidden;
    z-index: 1;
    background-image: linear-gradient(green, yellow);
}


/* Positioning of Logo and tekst */

#logo img {
    float:left;
    height: 60px;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

#logo h1 {
    float:left;
    font-size:150%;
    padding: 0.5em;
    line-height: 40px;
}

/* Navigation Menu */

nav {
    float: right;
    line-height: 40px;
    font-size: 120%;
}

nav li {
    float:left;
    list-style-type: none;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color:#115500;
}

/* Hero Image */

#Homepage-Hero-Image {
    height:50%;
    width:100%;
    object-fit: contain;
}

/* Welcome Section */

#welcome-container {

        margin: auto;
        width: 75%;
        padding: 10px;
        font-size: 150%;
}

/* History-Section */

#history-container {

    margin: auto;
    width: 75%;
    padding: 10px;
    font-size: 150%;
}

#sourcewiki {
    font-size: 75%;
    text-decoration: none;
}

/* Gallery */

#gallery-intro {
    display:flex;
    justify-content: center;
}


#pictures {
    clear:both;
    line-height:0;
    column-count: 4;
    column-gap: 2px;
}

#pictures > img {
    width:100%
}

 /* Footer */

 footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 175%;
    margin: 1%;
    padding: 5%;
    color: #333;
} 

/* Form */

#contactme {
    display: flex;
    justify-content: center;
}

#form-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    padding: 10px;
    font-size: 150%;
}

form {
    float: left;
    width: 60%;
    border: 3px solid #333;
    border-style:dotted;
    padding: 1.5em 1.5em;
}

input {
    width:100%;
    padding: 0.75em;
    margin-bottom: 1.25 em;
}

textarea {
    width:100%;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-size: 130%;
}